// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.post-list > li { margin-bottom: 1px; }

.post-meta { font-size: 10px; color: #828282; }

.post-link { display: block; font-size: 16px; }


